AN	Apr	Sun>=1	2:00s	0	S
AN	Oct	Sun>=1	2:00s	1:00	D
AS	Apr	Sun>=1	2:00s	0	S
AS	Oct	Sun>=1	2:00s	1:00	D
AT	Apr	Sun>=1	2:00s	0	S
AT	Oct	Sun>=1	2:00s	1:00	D
AV	Apr	Sun>=1	2:00s	0	S
AV	Oct	Sun>=1	2:00s	1:00	D
Canada	Nov	Sun>=1	2:00	0	S
Canada	Mar	Sun>=8	2:00	1:00	D
C-Eur	Oct	lastSun	2:00s	0	-
C-Eur	Mar	lastSun	2:00s	1:00	S
Chatham	Apr	Sun>=1	2:45s	0	-
Chatham	Sep	lastSun	2:45s	1:00	-
Chile	Apr	Sun>=2	3:00u	0	-
Chile	Sep	Sun>=2	4:00u	1:00	-
Cuba	Nov	Sun>=1	0:00s	0	S
Cuba	Mar	Sun>=8	0:00s	1:00	D
E-Eur	Oct	lastSun	0:00	0	-
E-Eur	Mar	lastSun	0:00	1:00	S
E-EurAsia	Oct	lastSun	0:00	0	-
E-EurAsia	Mar	lastSun	0:00	1:00	-
Egypt	Oct	lastThu	24:00	0	-
Egypt	Apr	lastFri	0:00	1:00	S
Eire	Mar	lastSun	1:00u	0	-
Eire	Oct	lastSun	1:00u	-1:00	-
EU	Oct	lastSun	1:00u	0	-
EU	Mar	lastSun	1:00u	1:00	S
EUAsia	Oct	lastSun	1:00u	0	-
EUAsia	Mar	lastSun	1:00u	1:00	S
Haiti	Nov	Sun>=1	2:00	0	S
Haiti	Mar	Sun>=8	2:00	1:00	D
Lebanon	Oct	lastSun	0:00	0	-
Lebanon	Mar	lastSun	0:00	1:00	S
LH	Apr	Sun>=1	2:00	0	-
LH	Oct	Sun>=1	2:00	0:30	-
Moldova	Oct	lastSun	3:00	0	-
Moldova	Mar	lastSun	2:00	1:00	S
NZ	Apr	Sun>=1	2:00s	0	S
NZ	Sep	lastSun	2:00s	1:00	D
Palestine	Oct	Sat<=30	2:00	0	-
Palestine	Mar	Sat<=30	2:00	1:00	S
Thule	Nov	Sun>=1	2:00	0	S
Thule	Mar	Sun>=8	2:00	1:00	D
Troll	Oct	lastSun	1:00u	0:00	+00
Troll	Mar	lastSun	1:00u	2:00	+02
US	Nov	Sun>=1	2:00	0	S
US	Mar	Sun>=8	2:00	1:00	D
W-Eur	Oct	lastSun	1:00s	0	-
W-Eur	Mar	lastSun	1:00s	1:00	S
Zion	Oct	lastSun	2:00	0	S
Zion	Mar	Fri>=23	2:00	1:00	D
